[Unit]
After=network.target

[Service]
AmbientCapabilities=CAP_NET_RAW
CapabilityBoundingSet=CAP_NET_RAW
DeviceAllow=
DynamicUser=true
Environment=RUST_BACKTRACE=1
ExecStart=/usr/local/sbin/ping-exporter --web.listen-address [::]:9143 --dynamic-targets --buckets-start 500us --buckets-count 25 --buckets-factor 1.437
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
RemoveIPC=true
Restart=always
RestrictAddressFamilies=AF_INET
RestrictAddressFamilies=AF_INET6
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
UMask=0077
WorkingDirectory=/tmp

[Install]
WantedBy=multi-user.target
